<style>
  body {
    background-color: #85e0e0;
    font-family: Helvetica;
    text-align: center;
    vertical_align: center;
    padding: 15%;
  }
  form {
    display:block;
    align-items: center;
    justify-content: center;
  }
</style>

<% if @days != 0 %>
<h1>A very merry unbirthday to you!<br>Your birthday will be in <%= @days %> days, <%= @name %>.</h1>
<% else %>
<h1>HAPPY BIRTHDAY TO YOUUUU, <%= @name.upcase %>!</h1>
<% end %>
